:javascript
  $(document).ready(function() {
     $("#markItUp").markItUp(mySettings);
  });
%div
  = form.label :created_at
  = form.text_field :created_at
%div
  = form.label :author
  = form.text_field :author
%div
  = form.label :author_email
  = form.text_field :author_email
%div
  = form.label :author_url
  = form.text_field :author_url
%div
  = form.label :content, 'Content'
  = form.text_area :content, :id => 'markItUp'