%h2
  Edit comment #{@comment.id}
%fieldset.admin
  = form_for @comment, :url => admin_comment_path(@comment) do |form|
    = render :partial => '/admin/errors', :locals => { :errors => @comment.errors }
    = render :partial => 'form', :object => form
    .actions
      = form.submit 'Update', :class => 'button', :name => 'update'
      = form.submit 'Cancel', :class => 'button', :name => 'cancel'