<h2>Edit asset <%= @asset.id %></h2>
<fieldset class='admin'>
  <% form_for @asset, :url => admin_asset_path(@asset), :html => { :multipart => true } do |form| %>
    <%= render :partial => '/admin/errors', :locals => { :errors => @asset.errors } %>
    <%= form.hidden_field :user_id, :value => @user.id %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class='actions'>
      <%= form.submit 'Update', :class => 'button', :name => 'update' %>
      <%= form.submit 'Cancel', :class => 'button', :name => 'cancel' %>
    </div>
  <% end %>
</fieldset>