<h2>New asset</h2>
<fieldset class='admin'>
  <%= form_for @asset, :url => admin_assets_path, :html => { :multipart => true } do |form| %>
    <%= render :partial => '/admin/errors', :locals => { :errors => @asset.errors } %>
    <%= form.hidden_field :user_id, :value => @user.id %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <label>Upload</label>
      <%= form.file_field :upload %>
    </div>
    <div>
      <%= form.submit 'Create', :class => 'button' %>      
    </div>
  <% end %>
</fieldset>