<%= link_to('New asset', new_admin_asset_path, :class => 'new') %>
<h2>Asset <%= @asset.id %></h2>
<fieldset class='admin'>
  <div class='show'>
    <span>
      <label>Title:</label><%= @asset.title %>
    </span>
    <span>
      <label>Filename:</label><%= @asset.upload_file_name %>
    </span>
    <span>
      <label>Content type:</label><%= @asset.upload_content_type %>
    </span>
    <span>
      <label>Size:</label><%= number_with_delimiter(@asset.upload_file_size) %>
    </span>
    <span>
      <label>URL:</label><%= link_to(@asset.url.split('?')[0], @asset.url) %>
    </span>
    <span>
      <label>Uploaded by:</label><%= @asset.user.name %>
    </span>
    <span>
      <label>Created at:</label><%= format_timestamp(@asset.created_at) %>
    </span>
    <span>
      <label>Updated at:</label><%= format_timestamp(@asset.updated_at) %>
    </span>
    <span><label>Thumbnail:</label></span>
    <div class='thumbnail'><%= link_to(image_tag(@asset.thumbnail_url), @asset.url) if @asset.url %></div>
    <div class='actions'>
      <%= button(admin_assets_path, '&laquo; Assets'.html_safe) %>
      <%= button(edit_admin_asset_path(@asset), 'Edit') %>
      <%= button_with_confirmation(admin_asset_path(@asset), 'Delete', 'Are you sure you want to delete this asset?', 'delete') %>
    </div>
  </div>
</fieldset>