<h2>Dashboard</h2>
<fieldset class='admin users'>
  <table>
    <tr>
      <th colspan='2'>Users</th>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Registered</td>
      <td><%= pluralize User.count, "user" %></td>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Currently logged in</td>
      <td><%= pluralize User.logged_in.count, "user" %></td>
    </tr>
  </table>
</fieldset>

<fieldset class='admin posts'>
  <table>
    <tr>
      <th colspan='2'>Posts</th>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Total</td>
      <td>
        <%= pluralize Post.count, "post" %>
        (<%= Post.current.count %> current,
        <%= Post.outdated.count %> outdated,
        <%= Post.unpublished.count %> unpublished)
      </td>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Published or updated in the last 30 days</td>
      <td><%= pluralize Post.published.since(Time.now - 30.days).count, "post" %></td>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Published or updated in the last 7 days</td>
      <td><%= pluralize Post.published.since(Time.now - 7.days).count, "post" %></td>
    </tr>
  </table>
</fieldset>

<fieldset class='admin comments'>
  <table>
    <tr>
      <th colspan='2'>Comments</th>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Total</td>
      <td>
        <%= pluralize Comment.count, "comment" %>
        (<%= Comment.not_junk.count %> not junk,
        <%= Comment.junk.count %> junk)
      </td>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Posted in the last 30 days</td>
      <td>
        <%= pluralize Comment.since(Time.now - 30.days).count, "comment" %>
        (<%= Comment.since(Time.now - 30.days).not_junk.count %> not junk,
        <%= Comment.since(Time.now - 30.days).junk.count %> junk)
      </td>
    </tr>
    <tr class="<%= cycle('dark', 'light') %>">
      <td>Posted in the last 7 days</td>
      <td>
        <%= pluralize Comment.since(Time.now - 7.days).count, "comment" %>
        (<%= Comment.since(Time.now - 7.days).not_junk.count %> not junk,
        <%= Comment.since(Time.now - 7.days).junk.count %> junk)
      </td>
    </tr>
  </table>
  <div class='bulk-actions'>
    <%= button_with_confirmation(clear_junk_path, 'clear junk', 'Are you sure you want to delete ALL junk comments?', 'delete') %>
  </div>
</fieldset>
