<article class="post">
  <h2><%= @post.title_draft %></h2>
  <%= @post.content_draft_html %>
  <div class='tagline'>
    <ul>
      <li><%= "Posted #{format_timestamp_relative(@post.first_published_at)} by #{@post.user.name}" %></li>
      <% if @post.last_published_at != @post.first_published_at %>
        <li><%= "Updated #{format_timestamp_relative(@post.last_published_at)}"%></li>
      <% end %>
      <li><%= posted_in_tags(@post) %></li>
    </ul>
  </div>
</article>
