<h2>Change My Password</h2>
<% form_for @user, :url => password_reset_path, :method => :put do |form| %>
  <%= render :partial => '/admin/errors', :locals => { :errors => @user.errors } %>
  <%= form.label :password %><br />
  <%= form.password_field :password %><br />
  <br />
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %><br />
  <br />
  <%= form.submit "Update my password and log me in", :class => 'button' %>
<% end %>