%h2
  Editing tag #{@tag.id}
%fieldset.admin
  = form_for @tag, :url => admin_tag_path(@tag) do |form|
    = render :partial => '/admin/errors', :locals => { :errors => @tag.errors }
    = render :partial => 'form', :object => form
    .actions
      = form.submit 'Update', :class => 'button', :name => 'update'
      = form.submit 'Cancel', :class => 'button', :name => 'cancel'