<h2>Editing tag <%= @tag.id %></h2>
<fieldset class='admin'>
  <%= form_for @tag, :url => admin_tag_path(@tag) do |form| %>
    <%= render :partial => '/admin/errors', :locals => { :errors => @tag.errors } %>
    <%= render :partial => 'form', :object => form %>
    <div class='actions'>
      <%= form.submit 'Update', :class => 'button', :name => 'update' %>
      <%= form.submit 'Cancel', :class => 'button', :name => 'cancel' %>
    </div>
  <% end %>
</fieldset>