= link_to('New post', new_admin_post_path, :class => 'new')
%h2
  Post #{@post.id}
%fieldset.admin
  .show
    #publish-info
      - if @post.status == :outdated
        - diff = @post.version_draft - @post.version
        %span.outdated.detail
          Outdated by #{(diff == 1 ? "<b>1</b> revision" : "<b>#{diff}</b> revisions").html_safe}
      - elsif @post.status == :current
        %span.current.detail Current
      - else
        %span.unpublished.detail Unpublished
    %span
      %label Date:
      = format_date(@post.date)
    %span
      %label Title:
      = @post.title_draft
    %span
      %label Tags:
      = "<i>(none)</i>".html_safe if @post.tags.empty?
      = @post.tags.collect{ |tag| link_to(tag.label, admin_tag_path(tag)) }.join(', ').html_safe unless @post.tags.empty?
    %span
      %label Posted by:
      = @post.user.name
    %span
      %label First published at:
      = format_timestamp(@post.first_published_at)
    %span
      %label Last published at:
      = format_timestamp(@post.last_published_at)
    %span
      %label Version:
      = @post.version_draft
    %span
      %label Comments open:
      = @post.comments_open? ? 'Yes' : 'No'
    %span
      %label Comments:
      = comment_count_link(@post)
    %span
      %label Permalink:
      = link_to @post.permalink, @post.permalink_url if @post.permalink_url
      = @post.permalink unless @post.permalink_url
    .actions
      = button(admin_posts_path, '« Posts'.html_safe)
      = button(edit_admin_post_path(@post), 'Edit')
      - if @post.version_draft != @post.version
        = button_with_confirmation(admin_post_publish_path(@post), 'Publish', 'Are you sure you want to publish this post?', 'post')
      - if @post.version_draft != @post.version and !@post.version.nil?
        = button_with_confirmation(admin_post_quietly_publish_path(@post), 'Quiet publish', 'Are you sure you want to quietly publish this post?', 'post')
      - if @post.published? and @post.version_draft != @post.version
        = button_with_confirmation(admin_post_revert_path(@post), 'Revert', 'Are you sure you want to revert this post?', 'post')
      - if @post.published?
        = button_with_confirmation(admin_post_takedown_path(@post), 'Take down', 'Are you sure you want to take down this post?', 'post')
      = button_with_confirmation(admin_post_path(@post), 'Delete', 'Are you sure you want to delete this post?', 'delete')
- unless @post.content_draft_html.blank?
  %fieldset.content
    %article.post
      = @post.content_draft_html