<h2>Profile</h2>
<fieldset class='admin'>
  <div class='show'>
    <span>
      <label>Login:</label><%= @user.login %>
    </span>
    <span>
      <label>Name:</label><%= @user.name %>
    </span>
    <span>
      <label>Email:</label><%= link_to(@user.email, "mailto:#{@user.email}") if @user.email %>
    </span>
    <span>
      <label>Url:</label><%= link_to(@user.url, @user.url) if @user.url %>
    </span>
    <span>
      <label>Twitter name:</label><%= link_to(@user.twitter_name, @user.twitter_url) if @user.twitter_url %>
    </span>
    <span>
      <label>Login count:</label><%= @user.login_count %>
    </span>
    <span>
      <label>Last request at:</label><%= format_timestamp(@user.last_request_at) %>
    </span>
    <span>
      <label>Last login at:</label><%= format_timestamp(@user.last_login_at) %>
    </span>
    <span>
      <label>Current login at:</label><%= format_timestamp(@user.current_login_at) %>
    </span>
    <span>
      <label>Last login ip:</label><%= @user.last_login_ip %>
    </span>
    <span>
      <label>Current login ip:</label><%= @user.current_login_ip %>
    </span>
    <div class='actions'>
      <%= button_to 'Edit', edit_admin_profile_path, :method => :get %>
    </div>
  </div>
</fieldset>