<h2>Login</h2>
<fieldset class='admin'>
  <% form_for @user_session, :url => admin_user_session_path do |form| %>
    <%= render :partial => '/admin/errors', :locals => { :errors => @user_session.errors } %>
    <div>
      <%= form.label :login %>
      <%= form.text_field :login %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.check_box :remember_me, :class => 'button' %> Remember me
    </div>
    <div class='actions'>
      <%= form.submit "Login", :class => 'button' %>
    </div>
  <% end %>
</fieldset>