<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="description" content="<%= APP_CONFIG.blog_description %>" />
  <title><%= APP_CONFIG.blog_title %></title>
  <link rel="alternate" type="application/atom+xml" title="<%= posts_feed_title %>" href="<%= posts_feed_url %>" />
  <% if @tag %>
    <link rel="alternate" type="application/atom+xml" title="<%= posts_feed_title(@tag) %>" href="<%= posts_feed_url(@tag) %>" />
  <% end %>
  <link rel="alternate" type="application/atom+xml" title="<%= comments_feed_title %>" href="<%= comments_feed_url %>" />
  <%= stylesheet_link_tag 'site' %>
  <%= stylesheet_link_tag 'content' %>
  <%= stylesheet_link_tag 'prettify' %>
  <%= javascript_include_tag APP_CONFIG.jquery_lib %>
  <%= javascript_include_tag '/javascripts/badass.js' %>
  <%= javascript_include_tag '/javascripts/application.js' %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'analytics' %>
</head>
<body onload="prettyPrint()">
<div class='main-wrapper'>
  <div class='main'>
    <h1><%= link_to APP_CONFIG.blog_title, '/' %></h1>
    <%= yield  %>
  </div>
  <div class='sidebar'>
    <%= render :partial => 'about' %>
    <%= render :partial => 'tags' %>
    <%= render :partial => 'contents' %>
    <%= render :partial => 'tweets' %>
    <%= render :partial => 'powered' %>
  </div>
  <%= javascript_include_tag '/javascripts/prettify.js' %>
</body>
</html>
