<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="author" content="<%= @post.user.name %>" />
  <meta name="keywords" content="<%= keywords(@post) %>" />
  <meta name="description" content="<%= @post.title || @post.title_draft %>" />
  <title><%= @post.title || @post.title_draft %> - <%= APP_CONFIG.blog_title %></title>
  <% if @post.published? %>
    <link rel="alternate" type="application/atom+xml" title="<%= posts_feed_title %>" href="<%= posts_feed_url %>" />
    <link rel="alternate" type="application/atom+xml" title="<%= comments_feed_title %>" href="<%= comments_feed_url %>" />
    <link rel="alternate" type="application/atom+xml" title="<%= comments_feed_title(@post) %>" href="<%= comments_feed_url(@post) %>" />
  <% end %>
  <%= stylesheet_link_tag 'site' %>
  <%= stylesheet_link_tag 'content' %>
  <%= javascript_include_tag APP_CONFIG.jquery_lib %>
  <%= javascript_include_tag '/javascripts/badass.js' %>
  <%= javascript_include_tag '/javascripts/application.js' %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'analytics' %>
</head>
<body>
<div class='main-wrapper'>
  <div class='main'>
    <h1><%= link_to APP_CONFIG.blog_title, '/' %></h1>
    <%= yield  %>
  </div>
  <div class='sidebar'>
    <%= render :partial => 'tags' %>
    <%= render :partial => 'contents' %>
    <%= render :partial => 'tweets' %>
    <%= render :partial => 'powered' %>
  </div>
</body>
</html>
